<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	body{
		margin: 0 auto;
		/*padding: 0 49px;*/
		width: 892px;
		height: 1386px;
		font-family: SimHei;

	}
	header{
		height: 60px;
		font-size: 12px;
		border-bottom: 2px solid #938e8c;
	}
	header .title{
		height: 60px;
		width: 110px;
		background-color: #d45d5c;
		color: #fff;
		line-height: 100px;
		float: left;

	}
	header time{
		float: right;
		display: block;
		height: 60px;
		line-height: 100px;
		color: #d45d5c;

	}
	section{
		margin-top: 34px;       
		/*这个参考的其他人*/
		overflow: visible;
		/*overflow: visible; 内容不会被修剪，会呈现在元素框之外。*/
	}
	/*part1高度*/
	#part1{
		height: 340px;
	}
	/*第一幅图片*/
	#part1 .img1{
		height: 301px;
		width: 641px;
		float: left;
	}
	aside{
		float: right;
		margin: -301px 0 0 50px;
		width: 203px;
		border-top:2px solid #cc8091;
		position: relative;

	}
	#part1 aside h1 h2 h3 h4{
		margin:0;
		font-family: "Microsoft Yahei";
	}
	#part1 aside h3{
/*		font-family: "Microsoft Yahei";*/
		font-size: 24px;
		color: #000000;
		font-variant: small-caps;
		text-decoration: underline;
		font-weight: normal;
		margin: 0px;
		line-height: 40px;

	}
	#part1 aside p{
		font-size: 12px;
		margin: 0;
		line-height: 10px;

		color: #676767;
		font-family: KaiTi;
	}
	#part1 aside h1{
		font-size: 116px;
		color: #75b86b;
		font-style: oblique;   
		/*字体倾斜是oblique  不是italic*/
		margin-left: -15px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	#part1 aside h2{
		font-size: 55px;
		color: #cc8091;
		font-weight: initial;
		margin-top: 0px;
	}
	#part1 aside h4{
		font-size: 21px;
		color: #cc8091;	
		position: absolute;
		bottom: 40px;
		left: 85px;
	}
	#part1 aside h6{
		font-size: 12px;
		color: #cc8091;	
		position: absolute;
		left: 85px;
		bottom: 29px;
		font-weight: normal;
	}
	#part2{
		margin-top: 0;
		height: 193px;

	}
	#part2 #what,#when,#how{
		font-family: "Microsoft Yahei"
	}
	#part2 article{
		float: left;
		margin-right: 30px;
		position: relative;
	}
	#part2 article h3{
		font-size: 16px;
		text-decoration: underline;
		font-weight: bolder;
		margin: 0;
	}
	#part2 #what{
		width: 235px;
	}
	#part2 #what h3{
		color: #418c59;
	}
	#part2 #when{
		width: 205px;

	}
	#part2 #when h3{
		color: #d2994f;
	}

	#part2 #how h3{
		color: #cc7680;
		margin-top: -25px;

	}
	#part2 article p{
		font-size: 12px;
		color: #231815;
		line-height: 16px;
	}
	#part2 #how ul{
		margin-top: 30px;
		padding: 0;
		font-size: 12px;
		list-style: none;
		opacity: .7;

	}
	#part2 #how ul li span{
		color: #cd4a48;
		font-style: oblique;
	}
	#part3{
		width: 415px;
		float: left;
	}
	#part3 h1 strong{
		font-size: 72px;
		font-weight: bolder;
		font-style: oblique;
		color: #f5e327;
	}
	#part3 h1{
		font-size: 42px;
		color: #11456b;
		font-weight: bolder;
		margin: 0;

	}
	#part3 h2{
		font-size: 33px;
		color: #11456b;
		font-weight: bolder;
		font-family: "黑体";
		margin:0;
		border-bottom: 2px solid; 
	}
	#part3 p{
		font-size: 12px;
		color: #767777;
		font-family: "宋体";
		margin: 16px 0 16px 0;
		text-indent: 2em;
	}
	#part3 p strong{
		font-size: 70px;
		color: #f5e327;
		font-family: "Microsoft Yahei";
		font-weight: normal;
	}
	#part3 #pic2{
		float: right;
		margin-top: 25px;
		padding:0 0 10px 15px;
	}
	#part4{
		width: 458px;
		height: 660px;
		margin-left: 450px;
	}

	#part4 #pic3{
		position: relative;

	}
	#part4 figcaption{
		width: 458px;
		height: 61px;
		background:rgba(0,0,0,0.5);
		position:absolute;
		bottom: 40px;
		margin-bottom: 2px;

	}
	#part4 figcaption span{
		font-size: 12px;
		color: #72b16a;
		font-style: oblique;

	}
	#part4 div figcaption div{
		border-left: 3px solid #72b16a;
		height: 44px;
		padding-left: 10px;
		color: #fff;
		font-size: 26px;
		line-height: 44px;
		position: absolute;
		bottom: 7px;
		left: 35px;
	}
	#part4 .miniwrap{
		background:#eeedd7; 
		width: 458px;
		margin-top: 25px;
		position: relative;
		overflow: hidden;
	}
	#part4 .miniwrap ul{
		margin-top: 0;
	}
	#part4 .miniwrap li{
		list-style: none;
		margin-top: 10px;
		color: #5a5b5b;
		line-height: 20px;
	}
	#part4 .miniwrap li .italic1{
		font-size: 12px;
		font-style: oblique;
		position: absolute;
		right: 22px;
		margin-top: 5px;
	}
	/*before伪元素*/
	.miniwrap li:before{
		content:"";
		border-color: transparent transparent #11456b;
		border-style: solid;
		border-width: 0 .25em .25em;
		display: block;
		height: 0;
		width: 0;
		left: -1em;
		top: 1.1em;
		position: relative;
	}
	.miniwrap .redbox{
		background-color:  #d45d5c;
		width: 260px;
		height: 160px;
		float: left;
		margin-top: 50px;
	}
	.redbox #zero{
		font-size: 110px;
		height: 86px;
		color: #fff;
		margin: 0;
		padding: 17px 10px;
		position: relative;
		font-family: Microsoft YaHei;

	}
	.redbox span h3{
		font-size: 21px;
		color: #fff;
		font-style: oblique;
		margin: 0;
		font-weight: normal;
	}
	.redbox span{
		position: absolute;
		display: block;
		bottom:65px;
		left: 80px;
		position: relative;
		border-left:2px solid #fff;

	}
	.redbox span p{
		float: none;
		padding-top: 0;
		font-size: 12px;
		color: #fff;
	}
	#quote{
		float: right;
		width: 130px;
		margin: 40px 0 0 15px;
		position: relative;
		margin-left: 20px;
	}
	#spcmark{
		font-size: 72px;
		color: #d45d5c;
		position: absolute;

	}
	#quote p{
		font-size: 14px;
		color: ##5a5b5b;
		font-family: "黑体";
		font-style: oblique;
/*		margin-top: 30px;*/
	}
	footer{
		margin-top: 50px;
		height:50px;
		width: 892px;
		border-top: 1px solid #938e8c;
		text-align: right;
		color: #d45d5c;
	}

</style>